@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #ffffff ;
    margin: 0 auto ;
    color: black ;
  line-height: 1.6 ;
  font-family: 'Alata', sans-serif!important;
  overflow-x: hidden;
  
    }

.color-o {
  color: #fca440!important;
}

.btn-color-o {
  background-color: #fca440!important;
}


/* Navbar1 */
#Navbar1 {
  color: #fff;
  background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.8),rgba(0,0,0,0.1));

}

#Navbar1 a {
  color: #fff;
  font-weight: 500;
}

.navbar-default{
  transition:500ms ease;
  background:transparent;
}
.navbar-default.scrolled{
  background:#000;
}

.food {
  color: #fca440;
}

nav .toggler {
color: #fca440;

}

.navbar-light .navbar-toggler-icon {
  background: none!important;
}

/* Login */
.login-h3 {
  text-align: center!important;

}

#login .register {
  float: right;
}
.forget-password {
  font-size: 0.8rem;
  text-align: center!important;
}

.logout {
  color: #fff!important;
  background-color: #f39d3a!important;
  width: 1rem!important;
  margin-top: 2rem;
  
}
.logout2 {
  color: #fff!important;
  background-color:none!important;
  font-size: 1rem;
  text-align: center!important;
}
.logout2:hover {
  color: #000000!important;
  background: transparent!important;

}

.user-logo {
  background-color: #fff;
  margin: none!important;

}
/* Navbar1 */

/* Showcase */
.showcase {
   margin: 0;
  padding: 0;
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url('./img/hero_2.jpg');
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: hidden; 
}

.showcase .showcase-content {
  align-items: center;
  justify-items: center;
  color: #ffffff;
  text-align: center;
  margin-top: 25vh;
}

.showcase .showcase-content h1 {
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffa742;
}

.showcase .showcase-content h2 {
  font-size: 5rem;
}

.showcase .showcase-content .welcome{
  font-family: 'Pacifico', cursive;
}

.showcase input {
  padding: 0.5rem;
  color: #ffa742;
  display: inline-block;
  margin-top: 40px;
  border-color: #ffa742;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  background: transparent;
}

.showcase input:hover{
  color: #000;
  border: none;
  background-color: #fca440;
}


/* Showcase */




/* Homepage2 */
.Homepage2 {
  padding: 2rem;
}

.Homepage2 h4 {
  font-size: 3rem;
  margin-top: 3rem;
}
.Homepage2 .homepage_image {
  width: 15rem;
  height: 15rem;
}

#HowItWorks i {
  background: #ffffff;
  padding: 1rem;
  border-radius: 100%;
  text-align: center;
}


/* Homepage2 */

/* How it works */
#HowItWorks h3 {
  font-family: 'Pacifico', cursive;
}

#HowItWorks .card{
background-color: #f3c693;
padding-bottom: 2rem ;
text-align: left;
border: none;
border-radius: 0.5rem;
color: black;
}


#HowItWorks p {
font-size: 0.8rem;
}
#HowItWorks h4 {
  
  margin-top: 2rem;
}




/* How it works */

/* Menu */
.menu .st-menu {
  font-family: 'Pacifico', cursive;
}


.menu .nav-link:hover,
.menu .nav-link:focus {
  color: #ffa742!important;
  text-decoration: underline;
  cursor: pointer;
}

.st-menu{
  text-align: center;
  padding-top: 2%;
}
.st-our{
  color: #fca440;
}
#st-tabs{
align-self: center;
}

.menu .nav-link {
  display: initial;
  color: #000 !important;
} 

.st-card{
  border: none!important;
}
.menu .btn{
  color: #000!important;

}
.menu .btn:hover{
  background-color: #fca440!important;
  border: 0;
  
}
/* menu */

/* Footer */
footer {
  background: #ecebeb;  
}

.footer-logo {
  width: 10rem;
  height: 8rem;
}

footer a {
  color: #fca440;
}

.footer-copyright {
  background: #dad8d8;
}
/* Footer */

/* Media Query for Tablet device */

@media (max-width: 768px) { 
  .hide-on-small {
    display: none;
  }

/* Showcase */
  .showcase {
    height: 70vh;
   }

   .showcase .showcase-content h1 {
    font-size: 3rem;
   }
   
   .showcase .showcase-content h2 {
    font-size: 5rem;
   }

/* Homepage2 */
.Homepage2 {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.Homepage2 h4 {
  margin-top: 1rem;
}
}

/* Media Query for Tablet device */


/* Media Query for mobile device */

@media screen and (max-width: 580px) { 
.hide-on-small {
  display: none;
}

/* Showcase */
.showcase {

 height: 50vh;
 
}

.showcase .showcase-content {
  margin-top: 15vh;
}

.showcase .showcase-content h1 {
 font-size: 1.6rem;
}

.showcase .showcase-content h2 {
 font-size: 3rem;
}

/* Homepage2 */
.Homepage2 {
  padding: 1rem;
  margin-top: 2rem;

}

.Homepage2 h4 {
  font-size: 2rem;
  margin-top: 1rem;
}
.Homepage2 p {
  font-size: 0.7rem;
}
.Homepage2 .homepage_image {
  width: 10rem;
  height: 10rem;
}
/* Homepage2 */

}


@media (min-width: 576px){
  .card-deck .card {
    margin-bottom: 15px!important;
    border:none!important;
}
}
/* Media Query for mobile device */



/* User Page */

/* User Showcase */
.usershowcase {
  margin: 0;
 padding: 0;
 background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5)),url('./img/pepper.jpg');
 background-size: cover;
 position: relative;
 width: 100vw;
 height: 35vh;
 position: relative;
 overflow-y: hidden; 
}

.usershowcase .usershowcase-content {
 align-items: center;
 justify-items: center;
 color: #ffffff;
 text-align: center;
 margin-top: 15vh;
}

.usershowcase .usershowcase-content h2 {
 font-size: 3rem;
}

/* User Showcase */

/* User Account */

.account .title {
  font-size: 1.7rem;
  text-align: center ;
  text-decoration: underline;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

.account .button {
  padding: 0.5rem;
  color: #000;
  display: inline-block;
  margin-top: 40px;
  font-size: 15px;
  letter-spacing: 1px;
  background: #fca440;
  border-radius: 0.5rem;
  border-color: none;
}

/* Start Wallet */
.account .account-balance {
margin-top: 4rem!important;
text-align: center!important;
}
.account .account-balance .cash {
  font-size: 2.5rem;
}

.account .account-balance .add-fund {
  padding-left: 10%;
  padding-right: 10%;
}

.account .account-balance input {
  color: #000;
  justify-content: center;
}

/* End Wallet */


/* Account Details */
.account .account-details ul {
list-style: none;
}

.account .account-details input {
  font-size: 1rem;
  color: #000;

}

.account .account-details input:focus {
  border-inline-end-color: green;
}

/* Account Details */


/* Start Transaction  */
.transaction .title {
  font-size: 2.5rem;
  text-align: center ;
  text-decoration: underline;
  padding: 0;
  font-family: 'Pacifico', cursive;
  margin-bottom: 2rem;
}


/* End Transaction  */

/* End User Account */


/* Media Query for mobile device */

@media screen and (max-width: 580px) {
  .usershowcase {
   height: 20vh;
  }

.usershowcase .usershowcase-content {
    margin-top: 10vh;
   }
}


/* Media Query for mobile device */
/* User Page */



/*  Start MY Order Page */
.myorder .title {
  font-size: 2.5rem;
  text-align: center ;
  text-decoration: underline;
  padding: 0;
  font-family: 'Pacifico', cursive;
  margin-bottom: 2rem;
}

.myorder .add-ons{
text-align: center;
margin: 2rem;
font-size: 1rem;
}

.home {
  color: #fca440;
}

.delete {
  background-color: transparent!important;
  color: rgb(201, 11, 11)!important;
  width: 5rem;
  font-size: 15px!important;
  border: none;
}

.delete:hover {
  color: red!important;
  font-size: 16px!important;

}

.myorder .checkout {
  text-align: center!important;
  background-color: transparent!important;
  border-color: #f39d3a!important;


}


.myorder .checkout {
  background-color: #f39d3a!important;
  border-color: none!important;
  color: #000!important;
}

.myorder .checkout:hover {
  text-align: center!important;
  background-color: transparent!important;
  border-color: #f39d3a!important;
}
/* MY Order Page */


/* Page Not Found Page */

.pagenotfound {
  justify-content: center!important;
  align-content: center!important;
  text-align: center;
}

.pagenotfound img{
width: 10rem!important;
margin-top: 5rem;
}

.pagenotfound .go-home{
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-top: 5rem;
  text-transform: uppercase;
  color: #f39d3a;

  }

  .pagenotfound .go-home:hover {
    color: black;

  }

  .pagenotfound .sorry{
    font-family: 'Pacifico', cursive;
    
    }
/* Page Not Found Page */